
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(71, 119, 151, 0.6) 0%, rgba(74, 21, 81, 0.6) 50%), url('https://res.cloudinary.com/dcjfhbk0f/image/upload/v1542367838/acjv0dzx7gqq0jx2ovti.jpg');>
   <div class="banner-content">
    <div class="container">
      <h1 class="text-center">HOLY SHIT COCKTAILS!!</h1>
      <%= link_to new_cocktail_path do %><button class="btn-vin-vid">Let's Make a Cocktail!</button><%end%>
    </div>
   </div>
</div>
<div class="container">
<div class="tagline">
<h1 class="text-center">Humans find cocktails delicious!</h1>
</div>
<div class="cards">
<% @cocktails.each do |cocktail| %>
  <div class="col-xs-6">
    <div class="card">
      <h3 class="text-center"><%= link_to cocktail.name , cocktail_path(cocktail[:id])%>
      <%= cl_image_tag cocktail.photo, height: 200, width: 200, crop: :fill %>

      <h3>
        <%= link_to " 🗑", cocktail_path(cocktail), method: :delete %>
      </h3>
    </div>
  </div>
<% end %>
</div>
</div>
<div id="footer">
<%= render 'footer' %>
</div>

